/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.btn-floating {
  position: absolute;
  right: 15%;
  bottom: 20%;
  z-index: 1;
}

.brand-logo {
  font-family: 'Noto Sans', sans-serif;
}

.products {
  min-height: 500px;
}